<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{.CoinLabel}} Explorer">
    <title>{{.CoinLabel}} Explorer</title>
</head>

<body>
    <header id="header">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark bg-trezor">
                <a class="navbar-brand" href="/" title="Home">
                    <div alt="Core Blockchain" style="margin-top: 3px;">
                        <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" version="1.1" viewBox="0 0 40 40" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                            <g transform="matrix(.030864 0 0 .030864 40 20)">
                                <path d="m0-3e-3c0-59.646-48.353-108-108-108s-108 48.354-108 108h-0.022v2e-3h0.017c0 0.894-0.011 1.787-0.017 2.681v0.958h-6e-3c-1.956 236.91-194.6 428.36-431.98 428.36-238.58 0-432-193.41-432-432s193.42-432 432-432c49.101 0 96.282 8.213 140.26 23.308 43.766 13.792 75.504 54.698 75.504 103.02 0 59.646-48.354 108-108 108-12.6 0-24.692-2.154-35.935-6.12h-8e-3c-22.47-7.91-46.64-12.209-71.82-12.209-119.29 0-216 96.71-216 216 0 119.29 96.71 216 216 216 119.3 0 216-96.71 216-216h5e-3v-2e-3c0-178.94 145.06-324 324-324 7.3 0 14.537 0.266 21.716 0.741-76.178-132.09-197.6-234.79-343.11-286.92-68.3-24.48-141.9-37.811-218.62-37.811-357.88 0-648 290.12-648 648s290.13 648 648 648c357.65 0 647.6-289.73 648-647.27 1e-3 -0.244 9e-3 -0.487 9e-3 -0.732" fill="#46b549" fill-rule="nonzero"/>
                            </g>
                        </svg>
                    </div>
                </a>
                <a class="navbar-brand" href="/">
                    {{.CoinLabel}} Explorer
                </a>
                <button class="navbar-toggler" type="button" onclick="if(document.getElementById('toggler').className.indexOf('show')>0){document.getElementById('toggler').className='navbar-collapse collapse'}else{document.getElementById('toggler').className='navbar-collapse show'}">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="toggler">
                    {{- if .InternalExplorer -}}
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item">
                            <a href="/blocks" class="nav-link">Blocks</a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link">Status</a>
                        </li>
                    </ul>
                    <span class="navbar-form ml-md-auto">
                        <form id="search" action="/search" method="get">
                            <input name="q" type="text" class="form-control" placeholder="Search for block, transaction, address or xpub" focus="true">
                        </form>
                    </span>
                    {{- end -}}
                </div>
            </nav>
        </div>
    </header>
    <main id="wrap">
        <div class="container">
            {{- template "specific" . -}}
        </div>
    </main>
    <footer id="footer" class="footer">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-trezor">
                <span class="navbar-nav">
                    <a class="nav-link" href="https://coreblockchain.cc/" target="_blank" rel="noopener noreferrer">© 2021 Core Network</a>
                </span>
                <span class="navbar-nav ml-md-auto">
                    <a href="/sendtx" class="nav-link">Send Transaction</a>
                </span>
            </nav>
        </div>
    </footer>
</body>

</html>
